*{
    box-sizing: border-box; 
    }
nav{
    display: none;
}
#nav2{
    display: none;
}
/*body{
    width: 100%;
    margin: 0;
    padding: 0;
    
}*/
/*header{
    position: relative;
    width: 100%;
    height: 250px;
}*/

/*h1{
    font-weight: normal;
}*/


