/*partes del header*/
header{
    width: 100%;
    height: 600px; 
    border-radius: 5px;
}
#secciones{
    width: 1080px;
    margin: auto;
}
#titulo{
    width: 100%;
    height:300px;
    position: relative;
    padding: 50px;
    font-size:100px;
    text-align: center;
}
#comentario{
    width: 100%;
    height: 240px;
    padding-top: 80px;
    position: relative;
    font-size: 40px;
}
#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Partes de la navegacion*/
nav{
    display: block;
    position: relative;
    width: 100%;    
}
nav>ul{
    right: 0;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 15px;
} 
.menu1{
    display: inline;
    font-size: 25px;
    font-family:'indira', serif;
}
.pronav{
    color:#FFAF3B;
    padding: 30px;
}
/* Partes de la navegacion auxiliar*/
#nav2{
    display: block;
    width: 200px;
    height: 0;
    position:sticky;
    top:0;   
}
#nav2>ul{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    top: 100px;    
}
.menu2{
    display: block;
    width: 180px;
    padding: 10px;
    text-align: center;
    opacity: 0.7; 
    font-family:'indira',serif;
    font-size: 19px;
    color: white;
    border-bottom: 1px solid rgb(245,245,245);
    border-left: 1px solid #478b67;
    background: #231e2c;
    transition: width .5s;   
}
.menu2:hover{
    width:200px;   
}
/* Partes secciones*/
.derecha{
    margin-left:200px;
    width: 880px;
    height: 100%;
}
h2{
    width: 100%;
    height: 50px;
    position: relative;
    text-align: left; 
    color:#FFAF3B;  
}
.texto{
    width: 600px;
}
/* Aqui tengo que arreglar version solo pc y mandar lo otro a phone.*/