@font-face{
    font-family: "Marcellus";
    src: url(../fuentes/Marcellus-Regular.ttf) format('truetype');
}
@font-face{
    font-family: "Paytone One";
    src: url(../fuentes/PaytoneOne-Regular.ttf) format('truetype');
}
@font-face{
     font-family:"smoku" ;
    src:url(../fuentes/Smokum-Regular.ttf) format('truetype');
}
@font-face{
    font-family:"indira";
    src:url(../fuentes/InriaSans-Light.ttf) format('truetype');
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.cosasquevamosmirando{
    color:#8F2800;
    color:#B54926;
    color:#ffaf3b;
    color:#FFF0A6;
    color:#468965;
    color:#ffff00;
    color:#fff4ff;
    color:#a591cc;
    color:#ffff5a;
    color:#c7cc00;
    color:#231e2c;
}
body{
    background-color: rgb(245,245,245);
}
/*Elementos del header*/
header{
    position: relative;
    width: 100%;
    background-color:#231e2c;      
}

#titulo{
    position: absolute;
    width: 100%;
    font-family:'Zen Tokyo Zoo', sans-serif;
    font-weight:lighter;
    color: #FFAF3B;
    opacity: 0.7;
    text-align: center;
    transition: transform 1s;
}
#comentario{
    position: absolute;
    font-family:'indira', sans-serif;
    color:#FFAF3B;
    text-align: center;
    width: 100%;
}
/* Partes de la navegacion*/
nav{
    background-color: #231e2c;
}
.pronav{
    color:#FFAF3B;
}
/*Elementos de las secciones*/
.seccion{
    display: block;
    text-align: justify;
    color: black; 
    box-shadow: 0 0 5px 0 #afafaf;
    border-radius: 3px; 
}
p{
    line-height:1.5;
    font-family: 'indira', serif;
}
h2{
    font-family: 'indira', serif;
    text-align: left;
    font-weight: lighter;
    color: #ffaf3b;
    opacity: 0.8;
    bottom: 5px;
}
footer{
    color:#ffaf3b;
    background-color: #231e2c;
    height: 200px;
}
/* cuadrar las imagenes, ademas del footer.