*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}

.cosasquevamosmirando{
    color: #8F2800;
    color: #B54926;
    color: #FFAF3B;
    color: #FFF0A6;
    color: #468965;
}
body{
    min-width:320px;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
      background-image: url("../imagenes/empty-blackboard.jpg");
    background-position:left;
    
}
#fondo{
    width: 100%;
    height: 100%;
    background-color:#468965;
    opacity: 0.3; 
}
h1{
    position: absolute;
    top: 30px;
    font-family:'Paytone One', sans-serif;
    margin: 0;
    font-size: 60px;
    color:#FFAF3B;
    text-align: center;
}
#comentario{
    position: absolute;
    bottom: 30px;
    font-family:'Paytone One', sans-serif;
    margin: 0;
    font-size: 30px;
    color:#FFAF3B;
    text-align: center;
}
.seccion{
    display: inline-block;
    text-align: right;
    font-size:19px;
    color: white; 
   /* border: 30px solid transparent;
    border-image:url("../imagenes/hoja.png") 3 30 repeat;
    border-bottom: collapse;*/
    background-image: url("../imagenes/hoja2.jpg");
    background-size: cover;
}

.seccion>p,h2, h1, #comentario{
    mix-blend-mode: exclusion;
}

.fotoperfil{
    position: absolute;
    transform: translateX(30px)translateY(15px);
    width:200px;
    height: 190px;
    background-image: url("../imagenes/foto.jpg");
    background-size: cover;
    background-position: center;
}
.marco{
    position: relative;
    border: solid white 1px;
    width: 260px;
    height: 220px;
    margin: auto;
    text-align: center;
}
p{
    padding: 20px;
    line-height:1.5;
    font-family: 'Marcellus', serif;
}
h2{
    font-family: 'Marcellus', serif;
    padding:20px;
    font-weight: normal;
    text-align: left;
    font-size: 40px;
}
#contenido{
    
}