*{
    box-sizing: border-box; 
   /* font-family: 'Frank Ruhl Libre', serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
   
   
}
header{
    background-position: 0 -30%;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgb(132,132,132);
   
}
.title {
    position: absolute;
    top: 50px;
    text-align: left;
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    font-size: 60px;
    width: 300px;
    height: 150px;
    padding: 10px;
}

.fotoa{
    position: absolute; 
    top:70px;
    right: 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
}.fotob{
    position: absolute; 
    top:70px;
    right: 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
}
.perfil{
    padding:0 20px 0 20px;
    text-align: justify; 
    font-size: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.foto{ 
    width: 250px;
    height: 250px;
    margin: 5px auto 20px auto;
    background-color: gray;
}
.item{
    padding:0 20px 0 20px;
    text-align: left;
    background-color:whitesmoke;
}

.item>h2{
    font-family: "Marcellus", serif;
    text-align: left;
    font-weight: 50px;
    font-size: 30px;
}
.item>div>ul{
    list-style-type: none;
}

footer{
    padding: 0 10px 4px 10px;
    background-color:rgb(132,132,132);
    margin-bottom: -500px;   
}
