body{
    min-width:320px;
}
/*Elementos del header*/
header{
    height: 100vh;    
}
#titulo{
    top: 80px;
    font-size: 60px;
}
#fotologo{
    position: relative;
    top: 50vh;
    margin: 0 auto 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-image: url(../imagenes/fotommaschiqui.png);
    background-size: cover;
    background-position: unset;
}
#comentario{
    bottom: 100px;
    font-size: 25px;
}
nav,#nav2{
    display: none;
}

/*Elementos de las secciones*/
.seccion{
    min-height:100vh;
    min-width: 300px;
    font-size:20px;
    margin: 10px;   
}
p{
    padding: 15px;
}
h2{
    font-size: 40px;
    padding: 15px;
}
footer{
    color:#ffaf3b;
    background-color: #231e2c;
    min-height:200px;
}

.hijo{
    padding: auto;
}
.caja{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 50px 50px 50px 50px;
}
.muñeco{
    padding: auto;
}
/*cuadrar las imagenes, ademas del footer.
